@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Admin Page";
}

<p>
    <a asp-action="Lecturers">Open List of Lecturers</a>
</p>
