@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Commitee Page";
}

<p>
    <a asp-action="Index">Index</a>
</p>

<p>
    <a asp-action="Lecturers">Lecturers List</a>
</p>

<p>
    <a asp-action="Students">Students List</a>
</p>

<p>
    <a asp-action="Proposals">Proposals List</a>
</p>